/*=====================================*/

/*-- :::: Sectio padding :::: --*/

/*=====================================*/
@mixin section-padding-top {
    padding-top: 70px;
    @include tablet {
        padding-top: 140px;
    }
}

/*=====================================*/

/*-- :::: Space Decrease :::: --*/

/*=====================================*/
.space-dt--20 {
  margin-top: -20px;
}

/*=====================================*/

/*-- :::: Margins :::: --*/

/*=====================================*/

/*-- Margins top --*/

.mt--20 {
  margin-top: 20px !important;
}

.mt--30 {
  margin-top: 30px !important;
}

.mt--40 {
  margin-top: 40px !important;
}

.mb--30 {
  margin-bottom: 30px !important;
}

.mb--40 {
  margin-bottom: 40px !important;
}

.mb--50 {
  margin-bottom: 50px !important;
}

.mb-md--0 {
  @include tablet {
    margin-bottom: 0px !important;
  }
  @include desktops {
    margin-bottom: 0px;
  }
}

.mb-xl--60 {
  @include large-desktops {
    margin-bottom: 60px !important;
  }
  @include extra-large-desktops {
    margin-bottom: 60px;
  }
}

.pb-xl--0 {
  @include large-desktops {
    padding-bottom: 0px !important;
  }
  @include extra-large-desktops {
    padding-bottom: 0px;
  }
}

.pb-lg--0 {
  @include desktops {
    padding-bottom: 0px !important;
  }
  @include large-desktops {
    padding-bottom: 0px;
  }
}

.pl-lg--30 {
  @include desktops {
    padding-left: 30px !important;
  }
  @include large-desktops {
    padding-left: 30px;
  }
}

.pl-lg--90 {
  @include desktops {
    padding-left: 90px !important;
  }
  @include large-desktops {
    padding-left: 90px;
  }
}

.pr-lg--30 {
  @include desktops {
    padding-right: 30px !important;
  }
  @include large-desktops {
    padding-right: 30px;
  }
}