/* scale */
$green: #73aa0a;
$yellow: #ff8f00;
$red: #bf360c;
$grey: #999;

/* elements */
$tomato: #c62828;
$disabled: #666;
$range: #bbb;
$border: #ddd;

/* palette */
$pure-white: #FFF;
$white: #f2ffe1;
$primary: #5cdb95;
$secondary: #379683;
$accent: #8ee4af;
$black: #05386b;
$pure-black: #000;

$primary-color: #5cdb95;
$body-color:#fff;

// Fonts
$primary-font: "Merriweather", sans-serif;


// Screen Width
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;