
.btn{
    font-family: $primary-font;
    font-weight: 600;
    font-size: 16px;
    transition: .4s;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    &--primary{
        background-color: $primary;
        border: 1px solid $black;
        color: $black;
        &:hover {
            background-color: rgba($primary,.8);
        }
    }

    &--large {
        width: 238px;
    }

}