@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(../public/fonts/fjallaone.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather'), local('Merriweather'), url(../public/fonts/merriweather.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato'), local('Lato'), url(../public/fonts/lato.woff2) format('woff2');
}
